.consultation {
    width: 100%;
    min-height: 747px;
    background: url("../../img/bg/bg327.png") center center/ cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 100px 0 150px 0;

    @media only screen and (max-width: 768px) {
        padding: 100px 0;
    }


    &-title {
        font-size: 38px;
        color: $main-color;
        font-weight: 400;
        margin-bottom: 70px;

        @media only screen and (max-width: 425px) {
            font-size: 30px;
            margin-bottom: 50px;
        }
    }

    .form-wrapper {
        position: relative;
        padding-bottom: 70px;
        min-height: 380px;
    }

    .input-wrapper {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    input:not([type='submit']) {
        width: 30%;
        padding: 24px 64px;
        border: none;
        border-radius: 50px;
        margin-bottom: 48px;

        @media only screen and (max-width: 768px) {
            width: 400px;
            display: block;
            margin: 0 auto;
            margin-bottom: 22px;
            padding: 14px 32px;
        }

        &::placeholder {
            color: black;
        }
    }

    .input-text {
        display: block;
        width: 100%;
        outline: none;
        padding: 24px 64px;
        border-radius: 50px;
        border: none;
        resize: none;
        margin: 0;

        &::placeholder {
            color: black;
        }

        @media only screen and (max-width: 768px) {
            width: 400px;
            height: 150px;
            border-radius: 30px;
            margin: 0 auto;
            padding: 14px 32px;
        }
    }
}